h1{
    position: relative;
    left: 40%;
    top: 0;
}

input{
    border-width: 2px;
    box-shadow: none;
    position: absolute;
    left: 42%;
}

button{
    position: relative;
    border-width: 1px;
    left: 57%;
    top: -6px;
}
a{
    position: relative;
    border-width: 1px;
    left: 57%;
    top: -6px;
}